#body {
    text-align:center;/*central body */
    position:relative;
    left:-15%;
   
}
hr.e {
    width:50% ;/*Horizontal line between topics */
    text-align:center;
    color:rgba(0,0,0,1);
}
hr.ee{
    width:73%;
    text-align:center;
    color:rgba(0,0,0,0.1);
    margin-left:25%;
}

li{
    display:inline;
    padding:10px;
    position:relative;
    top:-80px;
    left:28%;
    text-transform:uppercase;
}

img.head {
    position:relative;
    top:10px;/* T symbol */
    left:12%;
}
a.head {
    position:relative;
    top:-45px;
    left:16%;/* Go back to home */
    color:rgba(0,0,0,0.2);
    text-transform:capitalize;
    text-decoration:none;
   
    
    
}
p.Go{
    width:95%;
    
}

a.head:hover {
    text-decoration:underline;
    color:red;
    width:20px;
    
}

#header{
    position:relative;
    top:-10px;
    height:35px;
    }


p.a{
    text-transform:uppercase;
    font-size:11px;
    font-family:arial,helvetica,sans-serif;
    /*line-height:15px;*/
    color:red;
    font-weight:bolder;
    position:relative;
    top:40px;
    
    
    }
p.a:hover{
    text-decoration:underline;
}

div.input {
    position:relative;
    left:33%;
    top:17px;
    display:inline;
    
}

button {
    background:red;
    border-radius:6px;
}
    
h1 a:hover
{
    color:red;
    text-decoration:underline;
    
   
}
h2 a:hover
{
    color:red;
    text-decoration:underline;
    
   
}

figcaption.figa{
    color:rgba(0,0,0,0.5);
    font-size:11px;
    font-family:arial,sans-serif;
    font-style:italic;
    line-height:1.2727px;
    position:relative;
    left:-195px;   
    margin-top:-10px;
}
figcaption.figb{
    color:rgba(0,0,0,0.5);
    font-size:11px;
    font-family:arial,sans-serif;
    font-style:italic;
    line-height:1.2727px;
    position:relative;
    left:-112px;   
    margin-top:-10px;
    
}
figcaption.figc{
    color:rgba(0,0,0,0.5);
    font-size:11px;
    font-family:arial,sans-serif;
    font-style:italic;
    line-height:1.2727px;
    position:relative;
    left:-122px;   
    margin-top:-10px;
}
figcaption.figd{
    position:relative;
    left:-261px;
    margin-top:-5px;
    color:rgba(0,0,0,0.5);
    font-size:11px;
    font-family: arial,sans-serif;
    font-style:italic;


}
figcaption.fige{
    font-size:11px;
    font-family: arial,sans-serif;
    font-style: italic;
    color: rgba(0,0,0,0.5);
    margin-top:-5px;
    position:relative;
    left:-65px;

}
figcaption.figf{
    font-style:italic;
    font-size:11px;
    font-family:arial,sans-serif;
    color:rgba(0,0,0,0.5);
    margin-top:-20px;
    position:relative;
    left:-146px;
}
figcaption.figg{
    font-style:italic;
    font-size: 11px;
    font-family:arial,sans-serif;
    color:rgba(0,0,0,0.5);
    margin-top:-15px;
    margin-left:-45px;/*improvisation is didnt use position property*/
    
}
figcaption.figh{
    font-style:italic;
    font-size: 11px;
    font-family: arial,sans-serif;
    color:rgba(0,0,0,0.7);
    margin-top: -15px;
    margin-left:40px;
}
figcaption.figi{
    font-style:italic;
    font-size: 11px;
    font-family: arial,sans-serif;
    color:rgba(0,0,0,0.7);
    margin-top: -20px;
    margin-left:-105px;
}


.lastlink {
    color:red;
    text-decoration:none;
    position:relative;
    left:-255px;
}

img.pic {
    opacity:0.2;
}

.firstlink{
    color:red;
    text-decoration: none;
    padding:5px;
}
.secondlink {
     text-decoration: none;
    color:rgba(0,0,0,0.4);
    padding:5px;
    
     
}
.c {
    text-transform:uppercase;
    font-size:11px;
    word-spacing:5px;
	/*overflow:hidden; (respnsive web type) */
}

.smallhead {
    
    text-decoration:none;
    color:red;
    
}

a img:hover {
    opacity:.8;
}

p.e {
    margin-left:-85px;
    font-size:15px;
    font-family:Georgia,"times new roman";
    line-height:22.995px;
    display:block ;
}
p.f{
    margin-left:-128px;
    font-size:15px;
    font-family:Georgia,"times new roman";
    line-height:22.995px;
    display:block ;

}
p.g{
    margin-left:-128px;
    font-size:15px;
    font-family:Georgia,"times new roman";
    line-height:22.995px;
    display:block ;
}
a.lastlink2,a.lastlink3,a.lastlink4,a.lastlink5,a.lastlink6{
    text-decoration:none;
    color:red;
}
a.lastlink2:hover{
    text-decoration:underline;
}
a.lastlink3:hover{
    text-decoration:underline;
}
a.lastlink4:hover{
    text-decoration:underline;
}
#meeting{
    height:420px;
    width:600px;
}
a.debu {
    color:red;
    text-decoration: none;
}
a.debu:hover{
    text-decoration: underline;
}
a.lastlink5:hover{
    text-decoration:underline;
}
a.lastlink6:hover{
    text-decoration:underline;
}
p.special-lady{
    font-family:georgia;
    font-size:15px;
    color:#000;
}
p.crazylady{
    color:rgba(0,0,0,0.5);
    font-family: arial,sans-serif;
    font-size:12px;
}

h5.old{
    letter-spacing: 6px;
    font-size:10px;
    font-weight:bolder;
    margin-left:-350px;
   
}

div.footer{
    display:inline-table;
    margin-left:25%;

}
ul.footlist {
    display:table-cell; 
    padding-right:50px;

}
ul.footlist bl{
    padding-left:10px;
    font-size:12px;
    list-style-type:square;
        color:rgba(0,0,0,0.6);
}
ul.footlist bl a {
    text-decoration: none;
    color:rgba(0,0,0,0.6);
}
ul.footlist bl a:hover{
    color:red;
}
a.footlog{
    font-family:"Brush Script MT",cursive;
    display:table-cell;
    padding-left:25px;
    color:rgba(0,0,0,0.6);
    text-decoration: none;
    font-size:18px;
}
a.footlog:hover{
    color:red;

}


